.section-wrapper {
  .section-title {
    text-align: center;
    color: #2199f9;
  }
  .header-section {
    padding: 10px 7%;
    .products-details {
      .computer-vision {
        color: #2199f9;
        background: #e6fffb;
        border-color: #87e8de;
        display: inline-block;
        padding: 5px;
        white-space: nowrap;
        margin: 10px 0;
        cursor: pointer;
        border: 1px solid #2199f9;
        border-radius: 2px;
        &:hover {
          color: #5bb5ff;
        }
      }
    }
  }

  .main-section {
    padding: 10px 7%;
    .output-section {
      display: flex;
      .output-file,
      .output-text {
        height: 600px;
        overflow: auto;
      }
      .output-file {
        margin-right: 5px;
        border: 1px solid #2199f9;
        border-radius: 3px;
        flex-basis: 100%;
      }
      .output-text {
        margin-left: 5px;
        border: 1px solid #2199f9;
        border-radius: 3px;
        flex-basis: 100%;
      }
    }
  }
}
